#twittermessages {

}

#twittermessages li {
  padding-top:40px;
}

.twittermessages_status {
  font-size:85%;
}

.twittermessages_status a {

}

.twittermessages_relativeTime {
  text-decoration:underline;
}
